*_tmp
tmp_*
/Manifest.toml
.vscode
Manifest.toml
.DS_Store
*.csv
*.nc
/projects/BulkDSOC/eval/

build/
node_modules/
package-lock.json
Manifest.toml
*_tmp
*.pdf
*.pptx
*.nc
*.png
*.xlsx
*.mp4
*.jld2
/projects/SOC_PBM/data/